---
import { client, getImageUrl } from "../lib/pocketbase";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../main.css";

const urlSearchParams = new URLSearchParams(Astro.request.url.split("?")[1]);
const params = Object.fromEntries(urlSearchParams.entries());
console.log("params", params);

let items = [];
let error = null;
let loading = true;

try {
	const res = await client.collection("furniture").getFullList(50, {
		fields: "id, collectionId, name, image, height, title, color, material:excerpt(200, true)",
	});
	items = res;
	loading = false;
} catch (err) {
	console.error("Error fetching items:", err);
	error = err;
	loading = false;
}
---

<BaseLayout>
	<div class="container">
		<div class="blog">
			{
				items.map((item) => (
					<div class="-item">
						<img
							src={getImageUrl(item)}
							class="-img"
							alt={item.title}
						/>
						<div class="-title">{item.name}</div>
						<div class="-description">Высота: {item.height}</div>
						<div class="-description">Материал: {item.material}</div>
						<div class="-description">Цвет: {item.color}</div>
					</div>
				))
			}
		</div>
	</div>
</BaseLayout>
