---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { client, getImageUrl } from "../../lib/pocketbase";

const { post: postPath } = Astro.params;

if (!postPath) {
	return Astro.redirect("/blog");
}

// SSR - загружаем данные на лету
const post = await client.collection("blog").getFirstListItem(
	`path="${postPath}"`
);

const seoData = {
	title: `${post.title} | Блог Нортекс`,
	description: post.description || post.title,
};
---

<BaseLayout {...seoData}>
	<img src={getImageUrl(post)} class="post-image" alt={post.title} />
	<div class="container">
		<div class="post">
			<div class="-title">{post.title}</div>
			<div class="-text" set:html={post.content}></div>
		</div>
	</div>
</BaseLayout>
